/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-family: "Ubuntu";
    font-weight: 300;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.wrapper{

    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}


.flex-wrapper {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #666;
    justify-content: center;

}

.card {
    color: #FFF;
    background-color: #333;
    width: 33%;
    height: 300px;
    border: 10px solid gray;
    padding: 0px 20px;
}

.card button {

    color: #fff;
    background: transparent;
    padding: 10px;
    border: 2px solid #fff;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 3px;

}

.card button:hover{

    background-color: #fff;
    color: #000;

}

#search_field {

    background-color: #3CBC8D;
    color: white;
    border: 2px solid black;
    width: 80%;
    padding: 20px;
    margin: 20px;

}

@media(max-width: 760px){

    .card {
        width: 50%;
    }

}

.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.blue {
    background-color: blue;
}
.orange {
    background-color: orange;
}
.red {
    background-color: red;
}
.black{
    background-color: black;
}

